body {
    font-family: "Playfair Display", serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header, footer {
    background-color: #800000;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Inputs */
form input[type="date"],
form input[type="text"],
form textarea,
form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #800000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a00000;
}

/* Fieldset Container Styling */
fieldset {
    border: none;
    margin: 20px 0;
    padding: 0;
}

/* Legend Styling */
legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Checkbox and Radio Buttons */
label {
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 8px; /* Space between input and label text */
}

.rating-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.rating-container label {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.rating-container span {
    font-size: 25px; /* Size of the stars */
    color: grey; /* Default star color */
}

.rating-container input[type="radio"]:checked + span {
    color: gold; /* Change star color when selected */
}

input[type="checkbox"] {
    margin-right: 5px;
}
